@import '~office-ui-fabric-react/dist/sass/References.scss';

.iqTest {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.middleStack {
  justify-content: space-around;
}

.boldText {
  font-weight: 600;
}

.bodytop {
  padding: '12px 24px 12px 24px'
}

.alignItem {
  display: flex;
  margin-top: 50px;
  width: 600px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal {
  height: 600px;
}
